{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <title>Search Products</title>
</head>
<body>
    <h5>Search Products</h5><br />
    <form method="post" class="form-inline">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <hr><br>
    <div class="row" style="width:100%"> 
        {% for product in keys %}
        <div class="col-lg-3">
            <img class="thumbnail" src="{{ product.ImageURL }}">
            <div class="box-element product">
                <h6><strong>{{ product.name }}</strong></h6>
                <hr>
                <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart"> +</button>
                <a class="btn btn-outline-success" href="#">Xem</a>
                <h5 style="display: inline-block; float:right;"><strong>{{ product.price }} VND</strong></h5> 
            </div>
        </div>  
        {% endfor %}
    </div>
    <hr><br><hr>
</body>
</html>
{% endblock content %}
