{% extends 'app/base.html' %}
{% load static %}

{% block register %}
    <div class="container mt-5">
        <h2>Kết quả tìm kiếm</h2>
        <hr>

        <div class="row">
            {% if keys %}
                {% for product in keys %}
                <div class="col-lg-3 mb-3">
                    <div class="thumbnail">
                        <img class="img-fluid" src="{{ product.ImageURL }}" alt="{{ product.name }}">
                    </div>
                    <div class="box-element product">
                        <h6><strong>{{ product.name }}</strong></h6>
                        <hr>
                        <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">+</button>
                        <a class="btn btn-outline-success" href="#">Xem</a>
                        <h5 style="display: inline-block; float: right;"><strong>{{ product.price }} VND</strong></h5>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="col-12">
                    <div class="alert alert-info" role="alert">
                        Không tìm thấy sản phẩm nào phù hợp với từ khóa "{{ searched }}"!
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock register %}
